Repository vgstation-coders/vgstation13.5, pull requests merged in 2025-04, with the labels that each got.

#76 remove random anoms entirely
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML

#74 Table Crawling Behavior
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Standing/LayingDownSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/climbing/bonkable-component.ftl
  Resources/Locale/en-US/climbing/climbable-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/keybinds.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI

#79 Ports /vg/ Rules
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/VgRules.xml
Labels: Changes: YML, Changes: Documentation

#80 Rules Quickfix
  Resources/ServerInfo/Guidebook/ServerRules/VgRuleset.xml
Labels: Changes: YML, Changes: Documentation
